/* General Styling */
ion-header {
  background: #f4f4f4;
}

ion-toolbar {
  --background: #ffffff;
  --color: #333;
}

/* Form Styling */
form {
  width: 100%;
  max-width: 400px;         /* Prevent form from being too wide */
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  text-align: center;       /* Center the text inside the form */
}

/* Label Styling */
ion-label {
  font-weight: bold;
  margin-bottom: 10px;      /* Space between label and input */
}

/* Input Field Styling */
ion-input {
  --background: #f9f9f9;
  --border-radius: 10px;
  --padding-start: 16px;
  --padding-end: 16px;
  margin-bottom: 20px;     /* Space between input fields */
}

/* Paragraph Styling */
p {
  font-size: 14px;
  color: #666;             /* Subtle gray for the instruction text */
  margin-bottom: 20px;     /* Space between paragraph and button */
  text-align: center;
}

/* Button Styling */
ion-button {
  margin-top: 20px;
  --height: 50px;
  --border-radius: 30px;
  width: 100%;
  background: var(--ion-color-primary); /* Use the custom primary color */
  font-weight: bold;
  text-transform: uppercase;
}

/* Styling the Forgot Password Link */
ion-label a {
  font-size: 14px;
  text-align: center;
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  color: var(--ion-color-primary);
  font-weight: bold;
}
