<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="display: flex; flex-direction: column; justify-content: center; height: 100vh;">
  <div
    style="height: 100%; display: flex; flex-direction: column; justify-content: center; margin-left: 20px; margin-right: 20px;">
    <form (submit)="resetPassword()">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
      <p>Sila masukkan alamat e-mel yang berdaftar untuk menerima pautan reset kata laluan anda.</p>
      <ion-button expand="full" type="submit">Hantar Link Reset Kata Laluan</ion-button>
    </form>
  </div>
</ion-content>