<ion-content [fullscreen]="true">
  <!-- Message before accessing the page -->
  <div class="ion-text-center"
    style="display: flex; flex-direction: column; justify-content: center; height: 100%;">
    <p style="font-size: 1.2em; font-weight: bold; margin-top: auto;">Anda mesti log masuk sebelum mengakses halaman ini.</p>
    <ion-button routerLink="/tabs/authentication" expand="full" color="primary"
      style="margin:0 auto auto auto; width: 50%;">Log Masuk/Daftar</ion-button>
  </div>
</ion-content>

